footer {
  background-color: var(--footer-background-color);
  color: var(--white-color);

  display: grid;

  padding: 1rem;

  border-top: 3px solid var(--primary-color);

  nav > ul {
    display: grid;
    gap: 0.5rem;

    > li {
      flex-shrink: 0;

      list-style: none;

      a {
        color: inherit;
      }
    }
  }
}

@media (min-width: 1000px) {
  footer {
    justify-items: center;

    nav > ul {
      display: flex;

      > li {
        &:not(:last-child)::after {
          content: "|";

          margin-inline-start: 0.5rem;
        }
      }
    }
  }
}
