section#history {
  margin-block: 4rem;

  .urls {
    display: grid;
    gap: 1rem;

    .card {
      form {
        display: grid;
        grid-template-areas: "link" "input" "buttons";
        gap: 1rem;

        input {
          grid-area: input;

          padding: 1rem;
          border-radius: 4px;
          border: 1px solid var(--border-color);

          &:focus-visible {
            outline-color: var(--primary-hover-color);
          }
        }

        .control-buttons {
          grid-area: buttons;

          display: flex;
          gap: 0.25rem;

          button {
            padding: 0.75rem 2rem;
            border-radius: 4px;
            cursor: pointer;

            font-weight: 500;
            font-size: 1rem;

            border: 3px solid var(--color);
            color: var(--color);

            &:hover {
              background-color: var(--color);
              color: var(--white-color);
            }

            &.confirm {
              --color: var(--success-color);
            }

            &.copy {
              --color: var(--primary-color);
            }

            &.delete {
              --color: var(--danger-color);
            }
          }
        }

        .link {
          grid-area: link;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  section#history {
    .urls {
      .card {
        form {
          grid-template-areas:
            "input buttons"
            "link link";
          grid-template-columns: 1fr auto;
        }
      }
    }
  }
}
