.alias-link-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;

  .card {
    min-width: 60%;
    height: 100%;
    border-radius: 5px;
    box-shadow: var(--dark-color) 0 1px 4px;

    form {
      .form-group {
        margin-block-end: 1rem;
        min-width: 80%;

        label {
          display: block;
          margin-block-end: 0.25rem;
          font-weight: 500;
        }

        input {
          width: 100%;
          padding: 0.75rem 1rem;
          border: 1px solid var(--mute-color);
          border-radius: 4px;
        }

        input:focus-visible {
          outline-color: var(--primary-hover-color);
        }
      }

      button {
        padding: 0.75rem 1.5rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover,
      button:focus {
        background-color: var(--primary-hover-color);
      }

      button:focus-visible {
        border: 1px solid var(--primary-color);
        outline: none;
        font-weight: 700;
      }
    }

    p {
      max-width: 50ch;
      text-align: start;
    }
  }
}
