:root {
  --primary-color: hsl(207, 85%, 20%);
  --primary-hover-color: hsl(211, 100%, 35%);
  --danger-color: hsl(0, 100%, 50%);
  --white-color: hsl(0, 0%, 100%);
  --dark-color: hsla(0, 0%, 0%, 0.3);
  --secondary-color: hsl(0, 2%, 17%);
  --mute-color: hsl(0, 0%, 87%);
  --success-color: hsl(120, 100%, 25%);
}
