header {
  h1 {
    text-align: center;
    color: hsl(240, 100%, 50%);
    font-size: clamp(2rem,5vm+0.1rem,3rem);
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  header {
    h1 {
      font-size: 2.75rem;
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    h1 {
      font-size: 2rem;
    }
  }
}
