main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    text-align: center;
    min-width: 60%;
    border: 1px solid var(--white-color);
    box-shadow: var(--dark-color) 0 1px 4px;
    border-radius: 5px;
    padding-block: 2rem;
    padding-inline: 2rem;

    h2 {
      font-size: 2.25rem;
    }

    form {
      display: grid;
      place-items: center;

      .input-container {
        display: flex;
        width: 70%;

        input {
          padding-block: 1rem;
          padding-inline: 1rem;
          border: 1px solid var(--mute-color);
          border-radius: 4px 0 0 4px;
          flex-grow: 1;
        }

        input:focus-visible {
          outline-color: var(--primary-hover-color);
        }

        button {
          padding-block: 0.75rem;
          padding-inline: 1rem;
          border-radius: 0 4px 4px 0;
          background-color: var(--primary-color);
          color: var(--white-color);
          cursor: pointer;
        }

        button:hover,
        button:focus {
          background-color: var(--primary-hover-color);
        }
        button:focus-visible {
          outline: none;
          font-weight: bold;
        }
      }

      p {
        max-width: 50ch;
        /*text-align: justify;*/
      }
    }
  }

  .description {
    padding-inline: 1rem;
    width: 60%;

    h2 {
      font-size: 1.5rem;
    }
  }

  .alias-link-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block: 1rem;
    padding-block: 1rem;
    padding-inline: 1rem;

    .card {
      min-width: 60%;
      height: 100%;
      border-radius: 5px;
      box-shadow: var(--dark-color) 0 1px 4px;

      form {
        .form-group {
          margin-block-end: 1rem;
          min-width: 80%;

          label {
            display: block;
            text-align: left;
            margin-block-end: 0.25rem;
            font-weight: 500;
          }

          input {
            width: 100%;
            padding-block: 0.75rem;
            padding-inline: 1rem;
            border: 1px solid var(--mute-color);
            border-radius: 4px;
          }

          input:focus-visible {
            outline-color: var(--primary-hover-color);
          }
        }

        button {
          padding-block: 0.75rem;
          padding-inline: 1.5rem;
          background-color: var(--primary-color);
          color: var(--white-color);
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        button:hover,
        button:focus {
          background-color: var(--primary-hover-color);
        }

        button:focus-visible {
          border: 1px solid var(--primary-color);
          outline: none;
          font-weight: bold;
        }
      }

      p {
        max-width: 50ch;
        text-align: left;
      }
    }
  }

  .urls {
    margin-block: 4rem;
    min-width: 60%;

    .card {
      border: 1px solid var(--white-color);
      box-shadow: var(--dark-color) 0 1px 4px;
      border-radius: 5px;
      padding-block: 2rem;
      padding-inline: 2rem;
      margin-block: 1rem;

      form {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;

        .form-group {
          display: flex;
          flex-direction: column;
          flex-grow: 7;

          input {
            padding-block: 1rem;
            padding-inline: 1rem;
            border-radius: 4px;
            border: 1px solid var(--mute-color);
          }

          input:focus-visible {
            outline-color: var(--primary-hover-color);
          }

          label {
            text-align: start;
            margin-block: 1rem;
          }
        }
        .controlButtons {
          display: flex;
          justify-content: space-around;
          flex-grow: 1;

          button {
            padding-block: 0.75rem;
            padding-inline: 2rem;
            border-radius: 4px;
            cursor: pointer;
          }
          .confirm {
            border: 3px solid var(--success-color);
            color: var(--success-color);
            font-weight: 500;
            font-size: 1rem;

            &:hover {
              background-color: var(--success-color);
              color: var(--white-color);
            }
          }

          .copy {
            border: 3px solid var(--primary-color);
            color: var(--primary-color);
            font-weight: 500;
            font-size: 1rem;

            &:hover {
              background-color: var(--primary-color);
              color: var(--white-color);
            }
          }

          .delete {
            border: 3px solid var(--danger-color);
            color: var(--danger-color);
            font-weight: 500;
            font-size: 1rem;

            &:hover {
              background-color: var(--danger-color);
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  main {
    .card {
      margin-block-end: 1rem;

      h2 {
        font-size: 2rem;
      }
    }

    .description {
      min-width: 65%;

      h2 {
        font-size: 1.5rem;
      }
    }

    .alias-lin-generator {
      display: grid;
      place-items: center;
    }
  }
}

@media screen and (max-width: 640px) {
  main {
    .card {
      padding-block: 1rem;
      padding-inline: 2rem;

      h2 {
        font-size: 1.5rem;
      }

      form {
        width: 100%;

        .input-container {
          width: 100%;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .description {
      width: 99%;

      h2 {
        font-size: 1rem;
      }
    }

    .alias-link-generator {
    }
    .urls {
      form {
        .controlButtons {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
        }
      }
    }
  }
}
